<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org">
<head>
    <title>Form Login</title>
</head>
<body>
<h4>Form Login</h4>
<form th:action="@{/login}" method="post">
    <table>
        <thead>
        </thead>
        <tbody>
        <tr>
            <td>User:</td>
            <td><input type="text" name="username" required /></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" name="password" required /></td>
        </tr>
        </tbody>
    </table>
    </br>
    <input type="submit" value="Login" />
</form>
</body>
</html>